.about-me {
  background-color: var(--clr-middle);
  color: var(--clr-dark);
}

.about-me__container {
  max-width: 1000px;
  margin: 0 auto;
}

.about-me__img {
  box-shadow: var(--bs);
}

@media (max-width: 960px) {
  .section__subtitle--about {
    font-size: 1.2rem;
    
  }
  .about-me__body {
    font-size: 1rem;
  }
}

@media (min-width: 800px) {
  .about-me__container {
    display: grid;
    grid-template-columns: 1fr 250px;
    grid-template-areas:
      "title img"
      "subtitle img"
      "text img";
    grid-column-gap: 1.5em;
  }

  .section__title--about {
    grid-area: title;
  }

  .section__subtitle--about {
    grid-column: 1/-1;
    grid-row: 2;

    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-top: 0.5em;
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }

  .about-me__img {
    grid-area: img;
    position: relative;
    z-index: 2;
  }
}
