#food-nutrients {
  background-image: url("../img/work/food-nutrients.jpg");
}

#pinterest-clone {
  background-image: url("https://cdn.inflearn.com/public/files/courses/326338/3fe0702d-f564-4e2f-a89c-f46ad5e5a040/%EA%B0%95%EC%A2%8C%EC%84%AC%EB%84%A4%EC%9D%BC.jpg");
}

#chrome-app {
  background-image: url("../img/work/chrome-app.png");
}

#crwaler-to-kafka {
  background-image: url("../img/work/crwaler-to-kafka.jpg");
}

#charging-station {
  background-image: url("../img/work/charging-station.jpg");
}

#fund-page {
  background-image: url("../img/work/coffee-funding.jpg");
}

#kakao-clone {
  background-image: url("../img/work/kakao-clone.jpg");
}
