#food-nutrients {
  background-image: url("../img/work/portfolio-01.jpg");
}

#pinterest-clone {
  background-image: url("../img/work/portfolio-02.jpg");
}

#chrome-app {
  background-image: url("../img/work/portfolio-03.jpg");
}

#crwaler-to-kafka {
  background-image: url("../img/work/portfolio-04.jpg");
}

#charging-station {
  background-image: url("../img/work/portfolio-05.jpg");
}

#fund-page {
  background-image: url("../img/work/portfolio-06.jpg");
}

#kakao-clone {
  background-image: url("../img/work/portfolio-07.jpg");
}
