.my-work {
  background-color: var(--clr-middle);
  color: var(--crl-dark);
  text-align: center;
}

.section__subtitle--work {
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
  margin-bottom: 2em;
}

.portfolio {
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
  margin: 0 auto;
}

.card-tech__list {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 2em 0;
}

.card-tech__list li {
  border-radius: 5px;
  align-items: flex-start;
  display: inline-block;
  font-size: 0.7rem;
  margin: 0.5em 0.5em;
  width: 6em;
  background-color: var(--clr-middle);
  color: var(--clr-dark);
}

.face2 {
  background-size: cover;
  transition: 0.5s;
  color: var(--clr-middle);
  background-position: center;
}

.face2 h3 {
  border-radius: 2px solid var(--clr-middle);
  width: 250px;
  height: 50px;
  padding-top: 5px;
  background-color: rgba(48, 48, 48, 0.5);
}

.portfolio .card {
  position: relative;
  width: 330px;
  height: 450px;
  margin: 0 auto;
  background: var(--clr-dark);
  transition: 0.5s;
}

.portfolio .card:hover {
  box-shadow: var(--bs);
}

.portfolio .card .face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio .card .face.face1 {
  box-sizing: border-box;
  padding: 1em;
  text-align: center;
  background: var(--crl-dark);
  color: var(--clr-middle);
}

.portfolio .card .face.face1 h3 {
  color: var(--clr-accent);
}

.portfolio .card:hover .face.face2 {
  height: 400px;
  width: 300px;
  transform: scale(0) translate(0px, -100%);
  transition: 0.3s ease-in-out;
}

@media (min-width: 800px) {
  .face h3 {
    font-size: 1.5rem;
  }
}
